.app-container {
  text-align: center;
  margin: 20px;
}

.property-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.property-card {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  width: 250px;
}

.favorite-card {
  border: 1px solid #ccc;
  padding: 5px;
  margin: 10px;
  width: 30%;
}

.favorites {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.home-page {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 40px;
}

.header h1 {
  font-size: 2.5rem;
  color: #333;
}

.header p {
  font-size: 1.2rem;
  color: #777;
}

.main-content {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.properties-section {
  width: 70%;
}

.favorites-section {
  width: 25%;
  border-left: 1px solid #ccc;
  padding-left: 20px;
}

/* /* Container for Home Page */
.home-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  background-color: #f7f9fb;
  min-height: calc(100vh - 60px);  /* Subtract the navbar height */
}

/* Sidebar for the Image */
.home-sidebar {
  width: 30%;
  background-color: #ffffff;
  border-right: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styling for the Sidebar Image */
.home-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Main Content Section */
.home-content {
  width: 65%;
  padding: 0 20px;
}

.home-content h1 {
  font-size: 2rem;
  color: #333;
}

.home-content p {
  font-size: 1.2rem;
  color: #666;
  line-height: 1.6;
}
